# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://anime_tracker:anime_tracker@localhost:5432/anime_tracker?schema=public"
SHADOW_DATABASE_URL="postgresql://anime_tracker:anime_tracker@localhost:5432/anime_tracker_shadow?schema=public"

MAL_CLIENT_ID="use_valid_client_id"
MAL_CLIENT_SECRET="use_valid_client_secret"
MAL_REDIRECT_URI="http://localhost:5173/auth/callback"
